* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16pt;
}

#container {
  width: 100%;
  position: relative;
  /* A posição do container deve ser relativa */
  min-height: 100vh;
  /* Especificar a altura do container em vh*/
}

#img-barra-pesquisa {
  min-height: 250px;
  width: 100%;
  border-bottom: 4px solid #f78b1f;
  background-image: url(../media/images/Chef-barra-pesquisa.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

#barra-pesquisa {
  border-top-right-radius: 10mm;
  border-bottom-right-radius: 10mm;
  padding-left: 5mm;
  padding-right: 5mm;
  height: 15mm;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.527);
  font-weight: 500;
  border-color: transparent;
  color: white;
  font-weight: 700;
  outline: none;
  /* -webkit-box-shadow: -5px 0px 8px 2px rgba(0,0,0,0.65); 
box-shadow: -5px 0px 8px 2px rgba(0,0,0,0.65); */
}

#barra-busca {
  height: 100%;
  width: 100%;
  color: #7e898f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  
  
}

#bnt-pesquisa {
  height: 15mm;
  width: 6%;
  border-bottom-left-radius: 10mm;
  border-top-left-radius: 10mm;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.527);
  background-image: url(../media/icons/lupa.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-left: none;
  /* -webkit-box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.65); 
box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.65); */
}

/*  */
#barraBusca {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rowSobre {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10mm;
  margin-bottom: 10mm;
}

#sobre {
  width: 950px;
  height: 300px;
  border-radius: 25px;
  background-color: #01468a;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.65);
}

#logoText {
  width: 60%;
  height: 100%;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  background-color: #01468a;
  justify-content: center;
  align-items: center;
}

#logoBrancaSobre {
  margin-bottom: 10mm;
  width: 120px;
}

#sobreSenac {
  display: flex;
  align-items: center;
  justify-items: center;
  color: white;
  font-size: 14px;
  margin-bottom: 10mm;
}

#mulherSobre {
  width: 40%;
  border-bottom-right-radius: 25px;
}

#lista-categorias {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: auto;
}

