* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16pt;
}
#container {
  width: 100%;
  height: 100%;
}

#capa-perfil-chef {
  height: 300px;
  width: 100%;
  /* background-image: url(../media/images/perfilchef.png); */
  background-image: url(../media/images/capa\ \(1\).jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#nome-chef{
  background-color:#00366A;
  padding: 15px;
  padding-left: 40px;
  padding-right: 35px;
  margin-top: 106px;
  max-width: 500px;
  color: white;
  text-align: center;
  font-size: 20pt;
  font-weight: 700;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

#foto-chef{
  height: 9.5rem;
  width: 9.5rem;
  margin-top: calc(310px);
  background: url(https://pbs.twimg.com/media/FSu8xKzWYAIChdF.jpg);
  border-radius: 50%;
  border: 4px solid white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#containerResponsivo{
  background-color:  #8ca0b1;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

#cont{
  height: auto;
  max-width: 80%;
  padding: 10px;
  margin-top: 20px;
  background-color: #f78b1f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#receitaDestaque{
  max-height: 50vh;
  padding-left: 15px;
  padding-right: 10px;
  width: 100%;
  background-color: #f78b1f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  justify-content: center;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

#cont-chef{
  height: 80%;
  width: 70%;
 background-color: #ffffff;
 margin-top: 40px;
 margin-bottom: 40px;
 border-radius: 30px;
 -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.53);
 box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.53);
}
#rowCardChef {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 40px;
  padding-top: 0px;
}
::-webkit-scrollbar {
  background-color: #ffffff;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #968e8e5b;
  border-radius: 5px;
}


#lb-recomendacao{
  padding-left: 20px;
  max-width: 70%;
  height: auto;
  background-color: #f78b1f;
  /* border-top-right-radius: 60px;
  border-top-left-radius: 60px; */
  color: white;
  font-size: 20pt;
  font-weight: 700;
  
}

#rowCardChef {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 40px;
  padding-top: 0px;
}
::-webkit-scrollbar {
  background-color: #ffffff;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #968e8e5b;
  border-radius: 5px;
}

#cont2{
  height: auto;
  max-width: 80%;
  padding: 10px;
  margin-top: 20px;
  background-color: #FAF6F6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
}

#lb-receitasChef{
  padding-left: 20px;
  width: auto;
  height: auto;
  min-width: calc(210px *5);
  /* border-top-right-radius: 60px;
  border-top-left-radius: 60px; */
  color: rgb(0, 0, 0);
  font-size: 20pt;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  
}

.list-style{
  width: 100%;
  display: flex;
  justify-content: space-around;
 
}

#cont3{
  max-width: 79%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

#addRecipe{
  display: flex;
  height: 115px;
  width: 62%;
  max-width: 1198px;
  border-radius: 3mm;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  margin-left: 100px;

}

#box-one{
  display: none;
  border-radius: 3mm;
  border: 1px solid #ff9800c2;
  margin-left: 22px;
  height: 98px;
  width: 243px;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}



.adicionarNovaReceita{
  height: 66px;
  width: 118px;
  border: none;
  border-radius: 17px;
  background-color: transparent;
  color: #00366A;
  align-self: flex-end;
}

.addRecipe{
  width: 90px;
  height: 80px;
}

#box-one:hover{
  transform: scale(1.1);
}