.rowTest {
    padding-top: 5mm;
    padding-bottom: 5mm;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #01468a;
    width: 100%;
    min-height: 100vh;
    background: url(../media/images/backgroud-login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.campos {
    display: flex;
    width: 358px;
    height: 215px;
    background-color: white;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 3mm;
    margin-bottom: 10mm;
}



.camposReq {
    padding: 3mm;
    width: 358px;
    height: 215px;
    background-color: white;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 3mm;
    margin-bottom: 10mm;
    overflow: auto; 
}

.reqs {
    width: 311px;
    height: 34px;
    border-radius: 3mm;
    border: 1px solid black;
}

.reqs{
    margin-left: 3mm;
}

.label{
    display: flex;
    margin-left: 4mm;
    margin-bottom: 2mm;
    margin-top: 3mm;
    color: #01468a;
    font-size: 12pt;
}

#req,
#qntCards {
    width: 311px;
    height: 34px;
    border-radius: 3mm;
    border: 1px solid black;
}

#req {
    margin-left: 3mm;
}

#qntCards {
    margin-left: 3mm;
    margin-top: 2mm;
}

#req:focus,
#qntCards:focus {
    outline: none;
    border: 2px solid #01468a;
}

#submit {
    border-radius: 3mm;
    margin-top: 3mm;
    margin-right: 3mm;
    align-self: flex-end;
    width: 67px;
    border: 1px solid black;
    height: 35px;
    background-color: #01468a;
    color: white;
}

#submit:hover {
    transform: scale(1.1);
}
