* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16pt;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #faf6f6;
}

#container {
  width: 100%;
  min-height: 100vh;
}

#coluna {
  width: 100%;
  min-height: 100vh;
  background-color: #faf6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#info-pessoais {
  width: 80%;
  max-width: 1000px;
  min-height: 40vh;
  padding: 2em;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.10);
  margin-bottom: 1em;
  margin-top: 1em;
}

#info-contato {
  width: 80%;
  max-width: 1000px;
  min-height: 30vh;
  padding: 2em;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.10);
  margin-bottom: 1em;
  margin-top: 1em;
}

.informacoes {
  border-bottom: 2px solid #5c5d5e;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;
}


#foto-usuario{
  width: 90px;
  height: 90px;
  background: url(../media/images/dipper.jpg);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
}


#icon-camera{
  width: 50%;
  height: 50%;
}

.campoDados {
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 500;
  width: 250px;
}
.icon-label{
display: flex;
align-items: center;
flex-grow: 1;
}


.inf-usuario {
  border: none;
  width: 60%;
  height: 20pt;
  flex-grow: 1;
}

.inf-usuario:focus {
  outline: none;
}

#ft-perfil {
  color: #7a7b7d;
  flex-grow: 1;

}

#icon {
  width: 18pt;
  height: 18pt;

}