* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16pt;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

#container {
    width: 100%;
    height: 100%;
}

#topo {
    display: flex;
    justify-items: center;

    justify-content: flex-start;
    width: 100%;
    height: 30mm;
    background-color: #ffffff;
    align-items: center;
    border-bottom: 4px solid #f78b1f;
}

#logo {
    margin-right: 40px;
    margin-left: 5%;
    width: 110px;
    height: 60px;
}

a {
    text-decoration: none; 
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 2mm;
    color: #01468a;
    font-size: 16pt;
    border: #ffffff;
 
}


.botao:hover {
    transform: scale(1.1);
    background-color: #01468a;
    color: #ffffff;
}


.row {
    padding-top: 5mm;
    padding-bottom: 5mm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #01468a;
    width: 100%;
    min-height: 100vh;
    background: url(../media/images/backgroud-login.jpg);
    background-size: 100%;
}

.row-item {
    width: 100mm;
    height: 130mm;
    background-color: #ffffff;
    border-radius: 5mm;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between; 
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.53);
    padding: 0 20px; 
}

#logoPrincipal {
    height: 17mm;
    width: 30mm;
    margin-bottom: 5mm;
    align-self: flex-start; 
    margin-left: auto; 
    margin-right: auto;
}


.input-group {
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; 
}

.label {
    align-self: flex-start; 
}

.red {
    color: red;
}


.caixaTexto {
    padding-left: 5mm;
    width: 264px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    flex-shrink: 0;
    font-weight: 500;
}

.password-field {
    position: relative;
  }
  
  .toggle-password-visibility {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  

#botao {
    padding: 10px;
    height: 51px;
    width: 100px;
    margin-bottom: 40px;
    border: none;
    border-radius: 17px;
    background-color: #FCCB81;
    color: #000000;
    align-self: flex-end; 
}

#botao:hover{
    background-color: #F9A94A;
}


#contatos {
    display: flex;
    margin-right: 5mm;
    margin-left: 105mm;
}

.contato {
    margin-right: 2mm;
    background-color: #a7a8aa;
    height: 8mm;
    width: 8mm;
    border-radius: 2mm;
    margin-bottom: 2mm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato:hover {
    background-color: #01468a;
    transition: all .3s ease-in-out;
}


#face {
    height: 5mm;
    width: 3.5mm;
    filter: invert(1);

}

#youtube {
    height: 4.5mm;
    width: 4.5mm;
    filter: invert(1);
}

#instagram {
    height: 4.5mm;
    width: 4.5mm;
    filter: invert(1);
}

#twitter {
    height: 3.5mm;
    width: 3.5mm;
    filter: invert(1);
}

#linkedin {
    height: 4mm;
    width: 4mm;
    filter: invert(1);
}

/*Experimental*/
.footer {
    height: 115px;
    background-color: #003466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid #f7941d;
    gap: 30px;
}

footer img {
    width: 100px;
}

footer .copyright {
    align-self: center;
    color: white;
    font-size: 14px;
}