/*
    Azul, laranja e branco
    #fac17e, #ef8a01, #01468a, #fefefe

*/

* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16pt;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

#container {
  width: 100%;
  height: 100vh;
}

.row {
  padding-top: 5mm;
  padding-bottom: 5mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #01468a;
  width: 100%;
  min-height: 100vh;

  /* image 15 */
  background: url(../media/images/backgroud-login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100mm;
  height: 130mm;
  background-color: #ffffff;
  border-radius: 5mm;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.53);
}

#footer {
  width: 100%;
  height: 30mm;
  background-color: #01468a;
}

h1 {
  color: aliceblue;
}



.caixaTexto {
  border-radius: 8px;
  padding-left: 5mm;
  height: 8mm;
  width: 60mm;
  background-color: rgba(255, 255, 255, 0.37);
  font-weight: 500;
}

.label {
  display: flex;
  align-self: flex-start;
  margin-left: 17mm;
  margin-bottom: 2mm;
  margin-top: 3mm;
  color: #01468a;
  font-size: 12pt;
}



#logoPrincipal {
  height: 17mm;
  width: 30mm;
  display: flex;
  margin-bottom: 5mm;
  margin-top: 8mm;
}

.tex {
  color: #000000;
}

#login {
  color: orange;
  margin-left: 2mm;
  margin-right: 2mm;
}

#tex1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5mm;
  align-self: start;
  margin-left: 17mm;
}

#icon {
  height: 5mm;
  width: 5mm;
  margin-right: 2mm;
}

.textoCadastro {
  color: #01468a;
  display: flex;
  justify-content: center;
  margin-top: 2mm;
  text-decoration: underline;
}

#tex2 {
  margin-top: 8mm;
}



