/* CSS do Topbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16pt;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

#contatos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 5mm;
}

.face {
  height: 7mm;
  width: 7mm;
}

.youtube {
  height: 4.5mm;
  width: 4.5mm;
}

.instagram {
  height: 4.5mm;
  width: 4.5mm;
}

.twitter {
  height: 3.5mm;
  width: 3.5mm;
}

.linkedin {
  height: 4mm;
  width: 4mm;
}

#menubutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.topo {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  align-items: center;
  border-bottom: 4px solid #f78b1f;
  -webkit-box-shadow: 0px 8px 15px -11px #000000;
  box-shadow: 0px 8px 15px -11px #000000;
}

.logo {
  width: 100px;
  height: 65px;
  margin-right: 5%;
  margin-left: 5%;
}

.logoBotoes {
  margin-left: 5mm;
}

.divLogo {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.btn-social {
  flex-wrap: wrap;
  /* margin: 10px; */
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border: none;
  background-color: #a7a8aa;
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.btn-social:hover {
  background-color: #01468a;
  transition: all 0.3s ease-in-out;
}

#botao {
  border-radius: 8px;
  margin-top: 8mm;
  height: 8mm;
  width: 20mm;
  background-color: #ffffff;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 90px;
  background-color: #ffffff;
  border-radius: 2mm;
  color: #01468a;
  font-size: 16pt;
  border: #ffffff;
}

.botao:hover {
  transform: scale(1.1);
  background-color: #01468a;
  color: #ffffff;
}

a {
  text-decoration: none;
}

#bt-menu-response {
  width: 50px;
  height: 50px;
  background: url(../media/icons/icon-menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin-right: 5mm;
  display: none;
}

/* ================================================================================ */

@media only screen and (max-width: 600px) {
  .divLogo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    align-items: center;
  }

  .topo {
    justify-content: space-between;
    height: 90px;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-end;
  }

  #bt-menu-response {
    display: flex;
  }

  #menubutton {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    display: none;
  }

  .botao:hover {
    transform: scale(1);
    background-color: #ffffff;
    color: #01468a;
  }

  #contatos {
    display: none;
    margin-top: 250px;
  }

  .btn-social {
    background-color: #004a8d;
    width: 35.08px;
    height: 35.08px;
  }
}

/* ==================================================================================== */

.rodape {
  height: 115px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #f78b1f;
  width: 100%;
  margin: 0px auto;
  background-image: linear-gradient(to top, #003466, #004384);
  color: #fff;
  position: sticky;
  bottom: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f78b1f;
  flex-direction: column;
}

.rodape-centralizado {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-img {
}
.lab-rodape {
  color: #fff;
  font-size: 14pt;
}

.logo-branca {
  width: 100px;
}

/* .face-rodape {
  height: 5mm;
  width: 3.5mm;
}

.youtube-rodape {
  height: 4.5mm;
  width: 4.5mm;
}

.instagram-rodape {
  height: 4.5mm;
  width: 4.5mm;
}

.twitter-rodape {
  height: 3.5mm;
  width: 3.5mm;
}

.linkedin-rodape {
  height: 4mm;
  width: 4mm;
} */

.btn-social-rodape {
  flex-wrap: wrap;
  /* margin: 10px; */
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border: none;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.btn-social-rodape:hover {
  background-color: #f78b1f;
  transition: all 0.3s ease-in-out;
}

/* ========================================================================= */

.card {
  width: 210px;
  height: 300px;
  /* border: 1px solid #333; */
  border: none;
  border-radius: 5mm;
  margin: 3mm;
  margin-left: 4mm;
  margin-right: 4mm;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* transform: scale(0.8); Reduzindo o tamanho em 20% */
  flex-shrink: 0; /* Impede a deformação dos itens */
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

.div_img {
  width: calc(100% - 4mm);
  height: calc(60% - 4mm);
  margin: 2mm;
  border-radius: 3mm;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  border: none;
}
.div_img:hover {
  transform: scale(1.05);
}

.chef-avatar {
  position: relative;
  width: 85px;
  height: 95px;
  border-radius: 45px;
  margin-top: calc(-60px + 2mm);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(255, 255, 255);
}

.btn-receita {
  padding: 10px; /* Alterei para px para garantir uma unidade fixa */
  font-size: 14pt;
  max-width: 75%;
  background-color: #f78b1f;
  border-radius: 3mm;
  color: white;
  font-weight: 700;
  margin-top: 5px;
  border: none;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Adicionado para cortar conteúdo que ultrapassa o tamanho máximo */
  text-overflow: ellipsis; /* Adicionado para exibir reticências (...) quando o texto ultrapassa o tamanho máximo */
  white-space: nowrap; /* Adicionado para garantir que o texto não quebre em várias linhas */
}

.lb-chef {
  font-size: 11pt;
  max-width: 80%;
  font-style: italic;
  margin-top: 1mm;
  overflow: hidden; /* Adicionado para cortar conteúdo que ultrapassa o tamanho máximo */
  text-overflow: ellipsis; /* Adicionado para exibir reticências (...) quando o texto ultrapassa o tamanho máximo */
  white-space: nowrap; /* Adicionado para garantir que o texto não quebre em várias linhas */
}

.lb-avaliacao {
  font-size: 11pt;
  font-weight: 700;
  margin-top: 1mm;
  margin-bottom: 3mm;
}

#rowCard {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}
::-webkit-scrollbar {
  background-color: #ffffff;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #968e8e5b;
  border-radius: 5px;
}
